.report_btn {
    padding: 8px;
    font-size: 20px;
    width: 40px;
    float: right;
}

#pageBack, #pageForward {
	font-size: 20px;
    padding: 5px;
}

#currentY_dive {
	float: left;
}

div[data-value="Instructions"] table td,
div[data-value="Instructions"] table th {
	padding: 8px;
	text-align: center;
	border: 3px solid #f8f5f0;
}

#dataPreview .dataTables_scrollBody,
#dateCorrelations .dataTables_scrollBody,
#summaryTable .dataTables_scrollBody {
	height: auto !important;
}

/* Loading Screen */
.frame {
    position: fixed;
    width: 100%;
    height: 100%;
    color: #fff;
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
}

.center {
  position: absolute;
  width: 220px;
  height: 220px;
  top: 50%;
  left: 50%;
  margin-left: -110px;
  margin-top: -110px;
}

.dot-1, .dot-2, .dot-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #3e3f3a;
  border-radius: 50%;  
}

.dot-1 {
  z-index: 3;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
          animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate; 
}

.dot-2 {
  z-index: 2;
  width: 120px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
          animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate; 
}

.dot-3 {
  z-index: 1;
  width: 180px;
  height: 180px;
  margin-left: -90px;
  margin-top: -90px;
    -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
          animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate; 
}

@-webkit-keyframes jump-jump-1 {
  0%, 70% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 0px 1px 15px 6px rgba(255, 255, 255, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes jump-jump-1 {
  0%, 70% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 0px 1px 15px 6px rgba(255, 255, 255, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes jump-jump-2 {
  0%, 40% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 0px 1px 15px 6px rgba(255, 255, 255, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes jump-jump-2 {
  0%, 40% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 0px 1px 15px 6px rgba(255, 255, 255, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes jump-jump-3 {
  0%, 10% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 0px 1px 15px 6px rgba(255, 255, 255, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes jump-jump-3 {
  0%, 10% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 0px 1px 15px 6px rgba(255, 255, 255, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}